<table class="table table-hover table-inverse">
  <% if @range == "User" %>
     <h3>Users search for "<%= @range %>"</h3>
      <tr><%= render 'users/index', users: @users %></tr>
   <% elsif @range == "Book"%>
     <h3>Books search for "<%= @range %>"</h3>
     <tr><%= render 'books/index', books: @books %></tr>
  <% end %>
</table>